/*
gray  : #444
red   : #702
orange: #c32
yellow: #d92
green : #154
blue  : #136
purple: #505 
*/

#hd {
  font-size: 123.1%;
  font-style: italic;
  margin: 0.5em 0;
}

#ft {
  margin: 0.5em 0;
  font-size: 93%;
  text-align: right;
}

a, a:visited, a:active {
  color: #009;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home     { background-color: #444; }
.articles { background-color: #702; }
.journals { background-color: #c32; }
.authors  { background-color: #d92; }
.subjects { background-color: #154; }
.genes    { background-color: #136; }
.pubtypes { background-color: #505; }

/* yui tabview customization start */
li.home, li.articles, li.journals, li.authors, li.subjects, li.genes, li.pubtypes {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.yui-navset-left .yui-nav a,
.yui-navset-left .yui-nav a:visited {
  color: #fff;
}
.yui-navset-left .yui-nav a em {
  border-right:1px solid #fff;
  padding:0.5em 0.75em;
}
.yui-navset-left .yui-nav .selected a em{
  font-weight: bold;
  border-right-width:0;
}
.yui-navset-left .yui-content {
  padding: 1em;
}

.yui-navset .yui-navset-top .yui-nav{
  Xposition:relative;
  zoom:1;
}
.yui-navset-top .yui-nav li{
  float:left;
  text-align: center;
}
.yui-navset .yui-navset-top .yui-nav a{
  width: 8.5em;
  background-color: #ddd;
  color: #333;
  float: left;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}
.yui-navset .yui-navset-top .yui-nav a:visited {
  color: #333;
}
.yui-navset .yui-navset-top .yui-nav a em{
  border: 0;
  margin-bottom: 1px;
  padding:0.5em 1em;
}
.yui-navset-top .yui-nav .selected a {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
.yui-navset-top .yui-content {
  background:#fff;
  padding: 0.5em 1em 1em 1em;
  min-height: 27em;
  height: auto !important;
  height: 27em;
  clear:both;
}
/* yui tabview customization end */

#summary th{
  border: 1px solid #fff;
  font-size:197%;
  text-align:center;
  color: #fff;
  padding: 0;
}
  #summary a {
    color: #fff;
    display: block;
    padding: 2.1em 0;
  }

#charts {
  position: absolute;
  top: 4em;
  right: 0.6em;
  text-align: right;
}

#search {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: middle;
  color: #333;
}
  #search input[type="text"] {
    font-weight: bold;
    border: 2px solid #ddd;
    padding: 0.1em 0.25em;
  }

.articles_count {
	margin-left: 0.5em;
	padding: 0 0.5em;
	background-color: #bbb;
	color: #fff;
	font-size: 85%;
	white-space: nowrap;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.affiliation {
  margin: 1em 0;
}

.abstract {
  text-align: justify;
  margin: 1em 0;
}
.citation {
  font-size: 85%;
	white-space: nowrap;
  color: #fff;
  padding: 0.1em 0.5em;
  background-color: #bbb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
  .citation a {
    color: #fff;
  }
  .citation a:hover {
    color: #333;
    text-decoration:none;
  }
  .citation em {
    font-style: italic;
	}

#see_also {
  margin-top: -1.5em;
  padding: 0.5em;
  background-color: #fea;
  font-size: 85%;
  width: 16em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
  #see_also ul {
    margin-top: 0;
    margin-bottom: 0;
  }

.message {
  margin: 2em 0;
  padding: 0.5em 3em;
  background-color: #fea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* pagination start */
.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    color: white;
    background-color: #555;
    border: 1px solid #243356; }
  .pagination a {
    text-decoration: none;
    color: #000;
    border: 1px solid #a3a3a3; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
/* pagination end */

ul.alphabetical {
	margin: 1em 0;
}
  .alphabetical li {
    display: inline;
    list-style: none;
    margin: 0 0.6em;
    font-weight:bold;
  }
  .alphabetical a {
    font-weight:normal;
  }
