.yui-skin-sam .yui-navset .yui-content{background:#2647a0;padding:0.5em}
.yui-skin-sam .yui-navset-top .yui-content{background:#fff; min-height: 36em; height: auto !important; height:36em}
.yui-skin-sam .yui-navset-left .yui-content{border:1px solid #243356}
.yui-skin-sam .yui-navset .yui-nav{border:solid #fff;border-width:0 0 5px;Xposition:relative;zoom:1;}
.yui-skin-sam .yui-navset .yui-navset-top .yui-content{border:1px solid #243356;padding:0.25em 0.5em;}
.yui-skin-sam .yui-navset-top .yui-nav .selected a,.yui-skin-sam .yui-navset-top .yui-nav .selected a:focus,.yui-skin-sam .yui-navset-top .yui-nav .selected a:hover{background:#fff url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1400px;color:#fff;}
.yui-skin-sam .yui-navset-left .yui-nav a{background:#d8d8d8 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -5px;}
.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav .selected a:focus,.yui-skin-sam .yui-navset-left .yui-nav .selected a:hover{background:#2647a0 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1400px;color:#fff;}
.yui-skin-sam .yui-navset-left .yui-nav a:hover,
.yui-skin-sam .yui-navset-left .yui-nav a:focus
    {background:#bfdaff url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1700px;outline:0;}

#charts {
  position: absolute;
  top: 4em;
  right: 0.6em;
  text-align: right;
}

.articles_count {
	margin-left: 0.5em;
	padding: 0.1em 0.5em 0 0.5em;
	background-color: #aaa;
	color: #fff;
	font-size: 85%;
	white-space: nowrap;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* pagination */

.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background:#2647a0 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    color: white;
    border: 1px solid #243356; }
  .pagination a {
    text-decoration: none;
    background:#d8d8d8 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x; /* tab background */
    color: #000;
    border: 1px solid #a3a3a3; }
    .pagination a:hover, .pagination a:focus {
      background:#bfdaff url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
    


ul.alphabetical {
	margin-left: 0;
}

  .alphabetical li {
    display: inline;
    list-style: none;
    margin: 0 0.15em;
  }
