<h1>Author: <%= @author.to_s %></h1>
<div id="charts">
<%= authorship_position(@author, @period) %>
<%= author_publication_history(@author.author_stats) %>
</div>
<h2>Articles</h2>
<%= paginated_list @articles, @period %>
