<h1>Genes</h1>
<%= clouds(@genes.sort_by(&:to_s), @period) if first_page? %>
<%= will_paginate(@genes) if first_page? %>
<%= alphabetical_query_list @q unless first_page? %>
<%= paginated_list @genes, @period  unless first_page? %>